// Style.scss
nav a {
    margin-left: 15px;
}
.design {
    width: 500px;
    padding: 15px;
    background-color: #effdff;
}
.design-section {
    
}

@import "../node_modules/bootstrap/scss/bootstrap";